.ar-w2 {
  height: 16.98%;
  width: 6.53%;
  top: 70.8%;
  left: 47.64%;
}
.ar-w2,
.armis2,
.bag3,
.men2,
.women2 {
  position: absolute;
  display: inline-block;
}
.armis2 {
  width: 16.94%;
  top: 17.2%;
  left: 7.29%;
  font-size: var(--font-size-41xl);
}
.bag3,
.men2,
.women2 {
  height: 16.98%;
  width: 5%;
  top: 54.4%;
  left: 47.64%;
}
.men2,
.women2 {
  width: 9.51%;
  top: 36%;
  left: 47.01%;
}
.men2 {
  width: 5.28%;
  top: 17.2%;
  left: 47.36%;
  cursor: pointer;
}
.email1 {
  margin-block-start: 0;
  margin-block-end: 15px;
}
.twitter1 {
  margin: 0;
}
.email-linkedin-instagram-container1 {
  position: absolute;
  height: 69.2%;
  width: 13.54%;
  top: 15.6%;
  left: 31.88%;
  line-height: 31px;
  text-transform: uppercase;
  display: inline-block;
}
.rectangle-icon {
  position: absolute;
  height: 27.2%;
  width: 29.65%;
  top: 34%;
  right: 6.18%;
  bottom: 38.8%;
  left: 64.17%;
  border-radius: var(--br-81xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.6;
}
.email-address1 {
  position: absolute;
  width: 7.85%;
  top: 42.4%;
  left: 67.36%;
  font-size: var(--font-size-base);
  line-height: 31px;
  font-family: var(--button-heading);
  color: var(--color-dimgray);
  display: inline-block;
}
.footer-child2 {
  position: absolute;
  height: 27.2%;
  width: 9.24%;
  top: 34%;
  right: 6.18%;
  bottom: 38.8%;
  left: 84.58%;
  border-radius: var(--br-68xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.submit1 {
  position: absolute;
  height: 6.8%;
  width: 5.21%;
  top: 41.84%;
  left: 87.02%;
  font-size: var(--button-heading-size);
  line-height: 27.5px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--button-heading);
  display: inline-block;
  transform: rotate(-0.14deg);
  transform-origin: 0 0;
}
.footer1 {
  position: absolute;
  bottom: -2px;
  left: 0;
  background-color: var(--color-black);
  width: 100%;
  height: 250px;
  color: var(--color-white);
  font-family: var(--font-oriya-mn);
}
.bag-child {
  position: absolute;
  top: 212px;
  left: calc(50% - 618px);
  border-radius: 70px;
  background-color: #e2c2c2;
  width: 1258px;
  height: 966px;
}
.image-14-icon1,
.image-14-icon2,
.image-15-icon1 {
  position: absolute;
  top: 50.99px;
  left: calc(50% + 103.73px);
  width: 107.11px;
  height: 167.69px;
  object-fit: cover;
}
.image-14-icon2,
.image-15-icon1 {
  top: 274.2px;
  width: 106.84px;
  height: 198.28px;
}
.image-15-icon1 {
  top: 528px;
}
.red-printed-kurtha,
.red-printed-kurtha2,
.rs8499 {
  position: absolute;
  top: 70.25px;
  left: calc(50% - 192.93px);
  line-height: 35px;
  display: inline-block;
  width: 296.66px;
  height: 64.58px;
}
.red-printed-kurtha2,
.rs8499 {
  top: 115.57px;
  left: calc(50% - 63.27px);
  width: 97.5px;
  height: 39.66px;
}
.red-printed-kurtha2 {
  top: 582.39px;
  left: calc(50% - 192.93px);
  width: 296.66px;
  height: 64.58px;
}
.div1,
.red-printed-kurtha4,
.rs84992,
.rs84994,
.total-rs8499 {
  position: absolute;
  top: 627.71px;
  left: calc(50% - 63.27px);
  line-height: 35px;
  display: inline-block;
  width: 97.5px;
  height: 39.66px;
}
.div1,
.red-printed-kurtha4,
.rs84994,
.total-rs8499 {
  top: 756.88px;
  left: calc(50% - 187.75px);
  width: 221.98px;
}
.div1,
.red-printed-kurtha4,
.rs84994 {
  top: 319.52px;
  left: calc(50% - 192.93px);
  height: 64.58px;
}
.div1,
.rs84994 {
  top: 372.77px;
  left: calc(50% - 63.27px);
  width: 114.1px;
  height: 39.66px;
}
.div1 {
  top: 709.29px;
  left: calc(50% - 192.93px);
  font-family: var(--font-habibi);
  color: var(--color-black);
  width: 170.11px;
  height: 79.31px;
}
.cart-total {
  top: 288px;
  left: 176px;
  border-radius: 50px;
  background-color: var(--color-white);
  width: 473px;
  height: 809px;
  margin-left: 125px;
  color: var(--color-gray);
}
.bag-item,
.bag4,
.cart-total {
  position: absolute;
}
.bag-item {
  top: 174px;
  left: calc(50% - 119px);
  border-radius: var(--br-21xl);
  background-color: var(--color-gainsboro);
  width: 227px;
  height: 77px;
}
.bag4 {
  top: 194px;
  left: calc(50% - 39px);
  font-size: var(--font-size-11xl);
  line-height: 35px;
  display: inline-block;
  width: 77px;
  height: 36px;
}
.bag-inner {
  top: 1046px;
  left: calc(50% + 210px);
  border-radius: var(--br-21xl);
  background-color: #f4f4f4;
  width: 227px;
  height: 77px;
}
.bag-inner,
.line-div,
.pay {
  position: absolute;
}
.pay {
  top: 1067px;
  left: calc(50% + 298px);
  font-size: var(--font-size-11xl);
  line-height: 35px;
  display: inline-block;
  width: 77px;
  height: 36px;
}
.line-div {
  top: 283px;
  left: 692px;
  border-right: 10px solid var(--color-white);
  box-sizing: border-box;
  width: 10px;
  height: 846px;
  margin-left: 120px; 
}
.whatsapp-image-2023-05-30-at-1 {
  position: absolute;
  top: 406px;
  left: 743px;
  border-radius: var(--br-11xl);
  width: 577px;
  margin-left: 125px;
  height: 563px;
  object-fit: cover;
}
.ar-w3,
.armis3 {
  position: absolute;
  display: inline-block;
}
.ar-w3 {
  height: 35.37%;
  width: 6.53%;
  top: 32.41%;
  left: 87.92%;
}
.armis3 {
  width: 16.94%;
  top: 23.33%;
  left: 8.4%;
  font-size: var(--font-size-41xl);
  cursor: pointer;
}
.bag5,
.women3 {
  height: 35.37%;
  display: inline-block;
}
.bag5 {
  position: absolute;
  width: 5%;
  top: 34.17%;
  left: 77.71%;
  cursor: pointer;
}
.women3 {
  width: 9.51%;
  top: 32.5%;
  left: 62.99%;
}
.men3,
.nav-bar1,
.women3 {
  position: absolute;
}
.men3 {
  height: 35.37%;
  width: 5.28%;
  top: 35%;
  left: 52.36%;
  display: inline-block;
  cursor: pointer;
}
.nav-bar1 {
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 100%;
  height: 120px;
  font-family: var(--font-oriya-mn);
}
.bag2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1579px;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--button-heading);
}
@media screen and (max-width: 1200px) {
  .bag2:hover {
    animation: 1s ease-in-out 0s infinite normal none shadow-pop-tr;
    opacity: 1;
  }
  @keyframes shadow-pop-tr {
    0% {
      box-shadow: 0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
        0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
        0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
        0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18);
      transform: translateX(0) translateY(0);
    }
    to {
      box-shadow: 1px -1px rgba(62, 62, 62, 0.18),
        2px -2px rgba(62, 62, 62, 0.18), 3px -3px rgba(62, 62, 62, 0.18),
        4px -4px rgba(62, 62, 62, 0.18), 5px -5px rgba(62, 62, 62, 0.18),
        6px -6px rgba(62, 62, 62, 0.18), 7px -7px rgba(62, 62, 62, 0.18),
        8px -8px rgba(62, 62, 62, 0.18);
      transform: translateX(-8px) translateY(8px);
    }
  }
}
