.image-11-icon1,
.image-49-icon {
  position: absolute;
  object-fit: cover;
}
.image-49-icon {
  top: 120px;
  left: 0;
  width: 100%;
  height: 225px;
}
.image-11-icon1 {
  top: 0.04px;
  left: calc(50% - 574.5px);
  width: 312.85px;
  height: 461.34px;
}
.image-12-icon1,
.image-13-icon1,
.tag-1-icon1 {
  position: absolute;
  top: 1px;
  left: calc(50% - 146.5px);
  width: 310px;
  height: 456px;
  object-fit: cover;
}
.image-13-icon1,
.tag-1-icon1 {
  top: 0;
  left: calc(50% + 264.5px);
  height: 457px;
}
.tag-1-icon1 {
  top: 550px;
  left: calc(50% - 562.5px);
  width: 35px;
  height: 31px;
}
.red-printed-kurtha {
  top: 472px;
  left: calc(50% - 562.5px);
  width: 286px;
  height: 57px;
}
.blue-printed-kurtha,
.div19,
.red-printed-kurtha,
.rs8499 {
  position: absolute;
  line-height: 35px;
  display: inline-block;
}
.div19 {
  top: 491px;
  left: calc(50% - 563.5px);
  font-family: var(--font-habibi);
  color: var(--color-black);
  width: 224px;
}
.blue-printed-kurtha,
.rs8499 {
  top: 514px;
  left: calc(50% - 562.5px);
  width: 94px;
}
.blue-printed-kurtha {
  top: 467px;
  left: calc(50% - 133.5px);
  width: 279px;
  height: 57px;
}
.tag-3-icon2 {
  position: absolute;
  top: 546px;
  left: calc(50% - 138.5px);
  width: 34px;
  height: 31px;
  object-fit: cover;
}
.div20 {
  position: absolute;
  top: 487px;
  left: calc(50% - 139.5px);
  line-height: 35px;
  font-family: var(--font-habibi);
  color: var(--color-black);
}
.rs150012 {
  top: 509px;
  left: calc(50% - 129.5px);
}
.blue-shorts1,
.div21,
.rs150012 {
  position: absolute;
  line-height: 35px;
}
.blue-shorts1 {
  top: 461px;
  left: calc(50% + 274.5px);
  display: inline-block;
  width: 279px;
  height: 57px;
}
.div21 {
  top: 482px;
  left: calc(50% + 273.5px);
  font-family: var(--font-habibi);
  color: var(--color-black);
}
.off27 {
  margin: 0;
}
.off26 {
  position: absolute;
  top: 542px;
  left: calc(50% + 314.5px);
  font-size: var(--button-heading-size);
  line-height: 35px;
  color: var(--color-black);
  display: inline-block;
  width: 117px;
  height: 27px;
}
.tag-6-icon1 {
  position: absolute;
  top: 541px;
  left: calc(50% + 274.5px);
  width: 34px;
  height: 31px;
  object-fit: cover;
}
.off28,
.off30,
.rs150013 {
  position: absolute;
  top: 504px;
  left: calc(50% + 283.5px);
  line-height: 35px;
}
.off28,
.off30 {
  top: 547px;
  left: calc(50% - 98.5px);
  font-size: var(--button-heading-size);
  color: var(--color-black);
  display: inline-block;
  width: 117px;
  height: 27px;
}
.off30 {
  top: 550px;
  left: calc(50% - 515.5px);
  width: 120px;
}
.add-cart-1-icon3,
.add-cart-1-icon4,
.add-cart-1-icon5 {
  position: absolute;
  top: 469px;
  left: 264px;
  width: 34px;
  height: 36px;
  object-fit: cover;
}
.add-cart-1-icon4,
.add-cart-1-icon5 {
  top: 467px;
  left: 704px;
}
.add-cart-1-icon5 {
  left: 1096px;
}
.image-11-group,
.image-11-parent {
  position: absolute;
  top: 482px;
  left: 146px;
  width: 1149px;
  height: 581px;
  color: var(--color-gray);
}
.image-11-group {
  top: 2444px;
}
.add-cart-6-icon1,
.image-41-icon,
.image-42-icon,
.image-43-icon {
  position: absolute;
  top: 0;
  left: calc(50% - 578.5px);
  width: 309px;
  height: 480px;
  object-fit: cover;
}
.add-cart-6-icon1,
.image-42-icon,
.image-43-icon {
  left: calc(50% - 162.5px);
  width: 317px;
}
.add-cart-6-icon1,
.image-43-icon {
  left: calc(50% + 256.5px);
}
.add-cart-6-icon1 {
  top: 494px;
  left: calc(50% - 311.5px);
  width: 34px;
  height: 36px;
}
.off38,
.tag-7-icon1 {
  position: absolute;
  top: 570px;
}
.off38 {
  left: calc(50% - 528.5px);
  font-size: var(--button-heading-size);
  line-height: 35px;
  display: inline-block;
  width: 120px;
  height: 27px;
}
.tag-7-icon1 {
  left: calc(50% - 575.5px);
  width: 35px;
  height: 31px;
  object-fit: cover;
}
.div25,
.white-hoodie1 {
  position: absolute;
  line-height: 35px;
  display: inline-block;
}
.white-hoodie1 {
  top: 492px;
  left: calc(50% - 575.5px);
  color: var(--color-gray);
  width: 286px;
  height: 57px;
}
.div25 {
  top: 511px;
  left: calc(50% - 576.5px);
  font-family: var(--font-habibi);
  width: 224px;
}
.rs150016 {
  top: 534px;
  left: calc(50% - 575.5px);
  color: var(--color-gray);
  width: 94px;
}
.green-t-shirt1,
.off40,
.rs150016 {
  position: absolute;
  line-height: 35px;
  display: inline-block;
}
.green-t-shirt1 {
  top: 494px;
  left: calc(50% - 141.5px);
  color: var(--color-gray);
  width: 279px;
  height: 57px;
}
.off40 {
  top: 574px;
  left: calc(50% - 106.5px);
  font-size: var(--button-heading-size);
  width: 117px;
  height: 27px;
}
.tag-8-icon2 {
  position: absolute;
  top: 573px;
  left: calc(50% - 146.5px);
  width: 34px;
  height: 31px;
  object-fit: cover;
}
.div26,
.rs150017 {
  position: absolute;
  line-height: 35px;
}
.div26 {
  top: 514px;
  left: calc(50% - 147.5px);
  font-family: var(--font-habibi);
}
.rs150017 {
  top: 536px;
  left: calc(50% - 137.5px);
  color: var(--color-gray);
}
.blue-shorts3 {
  top: 484px;
  left: calc(50% + 266.5px);
  color: var(--color-gray);
  display: inline-block;
  width: 279px;
  height: 57px;
}
.blue-shorts3,
.div27,
.off42 {
  position: absolute;
  line-height: 35px;
}
.div27 {
  top: 505px;
  left: calc(50% + 265.5px);
  font-family: var(--font-habibi);
}
.off42 {
  top: 565px;
  left: calc(50% + 306.5px);
  font-size: var(--button-heading-size);
  display: inline-block;
  width: 117px;
  height: 27px;
}
.tag-5-icon2 {
  position: absolute;
  top: 564px;
  left: calc(50% + 266.5px);
  width: 34px;
  height: 31px;
  object-fit: cover;
}
.rs150018 {
  position: absolute;
  top: 527px;
  left: calc(50% + 275.5px);
  line-height: 35px;
  color: var(--color-gray);
}
.add-cart-2-icon,
.add-cart-2-icon1 {
  position: absolute;
  top: 496px;
  left: 689px;
  width: 34px;
  height: 36px;
  object-fit: cover;
}
.add-cart-2-icon1 {
  top: 492px;
  left: 1102px;
}
.image-41-parent {
  position: absolute;
  top: 1128px;
  left: 142px;
  width: 1157px;
  height: 604px;
}
.image-44-icon,
.image-45-icon,
.image-46-icon {
  position: absolute;
  top: 4px;
  left: calc(50% - 148.5px);
  width: 317px;
  height: 480px;
  object-fit: cover;
}
.image-44-icon,
.image-46-icon {
  top: 0;
  left: calc(50% + 259.5px);
}
.image-44-icon {
  top: 15px;
  left: calc(50% - 576.5px);
}
.off44,
.tag-9-icon2 {
  position: absolute;
  top: 577px;
}
.off44 {
  left: calc(50% - 523.5px);
  font-size: var(--button-heading-size);
  line-height: 35px;
  display: inline-block;
  width: 120px;
  height: 27px;
}
.tag-9-icon2 {
  left: calc(50% - 570.5px);
  width: 35px;
  height: 31px;
  object-fit: cover;
}
.div28,
.white-hoodie2 {
  position: absolute;
  line-height: 35px;
  display: inline-block;
}
.white-hoodie2 {
  top: 499px;
  left: calc(50% - 570.5px);
  color: var(--color-gray);
  width: 286px;
  height: 57px;
}
.div28 {
  top: 518px;
  left: calc(50% - 571.5px);
  font-family: var(--font-habibi);
  width: 224px;
}
.rs150019 {
  top: 541px;
  left: calc(50% - 570.5px);
  color: var(--color-gray);
  width: 94px;
}
.green-t-shirt2,
.off46,
.rs150019 {
  position: absolute;
  line-height: 35px;
  display: inline-block;
}
.green-t-shirt2 {
  top: 499px;
  left: calc(50% - 166.5px);
  color: var(--color-gray);
  width: 279px;
  height: 57px;
}
.off46 {
  top: 579px;
  left: calc(50% - 131.5px);
  font-size: var(--button-heading-size);
  width: 117px;
  height: 27px;
}
.tag-10-icon2 {
  position: absolute;
  top: 578px;
  left: calc(50% - 171.5px);
  width: 34px;
  height: 31px;
  object-fit: cover;
}
.div29,
.rs150020 {
  position: absolute;
  line-height: 35px;
}
.div29 {
  top: 519px;
  left: calc(50% - 172.5px);
  font-family: var(--font-habibi);
}
.rs150020 {
  top: 541px;
  left: calc(50% - 162.5px);
  color: var(--color-gray);
}
.blue-shorts4 {
  top: 484px;
  left: calc(50% + 254.5px);
  color: var(--color-gray);
  display: inline-block;
  width: 279px;
  height: 57px;
}
.blue-shorts4,
.div30,
.off48 {
  position: absolute;
  line-height: 35px;
}
.div30 {
  top: 505px;
  left: calc(50% + 253.5px);
  font-family: var(--font-habibi);
}
.off48 {
  top: 565px;
  left: calc(50% + 294.5px);
  font-size: var(--button-heading-size);
  display: inline-block;
  width: 117px;
  height: 27px;
}
.tag-11-icon2 {
  position: absolute;
  top: 564px;
  left: calc(50% + 254.5px);
  width: 34px;
  height: 31px;
  object-fit: cover;
}
.rs150021 {
  position: absolute;
  top: 527px;
  left: calc(50% + 263.5px);
  line-height: 35px;
  color: var(--color-gray);
}
.add-cart-1-icon6,
.add-cart-1-icon7,
.add-cart-10-icon {
  position: absolute;
  top: 505px;
  left: 696px;
  width: 34px;
  height: 36px;
  object-fit: cover;
}
.add-cart-1-icon7,
.add-cart-10-icon {
  left: 258px;
}
.add-cart-1-icon7 {
  top: 495px;
  left: 1110px;
}
.image-45-parent {
  position: absolute;
  top: 1770px;
  left: 144px;
  width: 1153px;
  height: 609px;
}
.ar-w6 {
  height: 16.98%;
  width: 6.53%;
  top: 70.8%;
  left: 47.64%;
}
.ar-w6,
.armis6,
.bag7,
.men7,
.women7 {
  position: absolute;
  display: inline-block;
}
.armis6 {
  width: 16.94%;
  top: 17.2%;
  left: 7.29%;
  font-size: var(--font-size-41xl);
}
.bag7,
.men7,
.women7 {
  height: 16.98%;
  width: 5%;
  top: 54.4%;
  left: 47.64%;
}
.men7,
.women7 {
  width: 9.51%;
  top: 36%;
  left: 47.01%;
}
.men7 {
  width: 5.28%;
  top: 17.2%;
  left: 47.36%;
  cursor: pointer;
}
.email3 {
  margin-block-start: 0;
  margin-block-end: 15px;
}
.email-linkedin-instagram-container3 {
  position: absolute;
  height: 69.2%;
  width: 13.54%;
  top: 15.6%;
  left: 31.88%;
  line-height: 31px;
  text-transform: uppercase;
  display: inline-block;
}
.footer-child6 {
  position: absolute;
  height: 27.2%;
  width: 29.65%;
  top: 34%;
  right: 6.18%;
  bottom: 38.8%;
  left: 64.17%;
  border-radius: var(--br-81xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.6;
}
.email-address3 {
  position: absolute;
  width: 7.85%;
  top: 42.4%;
  left: 67.36%;
  font-size: var(--font-size-base);
  line-height: 31px;
  font-family: var(--button-heading);
  color: var(--color-dimgray);
  display: inline-block;
}
.footer-child8 {
  position: absolute;
  height: 27.2%;
  width: 9.24%;
  top: 34%;
  right: 6.18%;
  bottom: 38.8%;
  left: 84.58%;
  border-radius: var(--br-68xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.submit3 {
  position: absolute;
  height: 6.8%;
  width: 5.21%;
  top: 41.84%;
  left: 87.02%;
  font-size: var(--button-heading-size);
  line-height: 27.5px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--button-heading);
  display: inline-block;
  transform: rotate(-0.14deg);
  transform-origin: 0 0;
}
.footer3 {
  position: absolute;
  top: 3190px;
  left: 0;
  background-color: var(--color-black);
  width: 1440px;
  height: 250px;
  color: var(--color-white);
  font-family: var(--font-oriya-mn);
}
.add-cart-1-icon8,
.add-cart-2-icon2,
.add-cart-3-icon {
  position: absolute;
  top: 2911px;
  left: 1251px;
  width: 34px;
  height: 36px;
  object-fit: cover;
}
.add-cart-2-icon2,
.add-cart-3-icon {
  top: 2907px;
  left: 840px;
}
.add-cart-3-icon {
  top: 2916px;
  left: 419px;
}
.ar-w7,
.armis7 {
  position: absolute;
  display: inline-block;
}
.ar-w7 {
  height: 35.37%;
  width: 6.53%;
  top: 32.41%;
  left: 87.92%;
}
.armis7 {
  width: 16.94%;
  top: 23.33%;
  left: 8.4%;
  font-size: var(--font-size-41xl);
  cursor: pointer;
}
.bag8,
.women8 {
  height: 35.37%;
  display: inline-block;
}
.bag8 {
  position: absolute;
  width: 5%;
  top: 34.17%;
  left: 77.71%;
  cursor: pointer;
}
.women8 {
  width: 9.51%;
  top: 32.5%;
  left: 62.99%;
}
.men8,
.nav-bar3,
.women8 {
  position: absolute;
}
.men8 {
  height: 35.37%;
  width: 5.28%;
  top: 35%;
  left: 52.36%;
  display: inline-block;
  cursor: pointer;
}
.nav-bar3 {
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 120px;
  font-family: var(--font-oriya-mn);
}
.women6 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3417px;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--button-heading);
}
